reqour:
  git:
    git-providers:
      gitlab:
        url: https://${reqour.git.git-providers.gitlab.hostname}
        git-url-internal-template: "git@${reqour.git.git-providers.gitlab.hostname}:${reqour.git.git-providers.gitlab.workspace}/"
        read-only-template: https://${reqour.git.git-providers.gitlab.hostname}/${reqour.git.git-providers.gitlab.workspace}/%s.git
        read-write-template: git@${reqour.git.git-providers.gitlab.hostname}:${reqour.git.git-providers.gitlab.workspace}/%s.git
        token: ${GITLAB_TOKEN}
      github:
        url: https://${reqour.git.git-providers.github.hostname}
        git-url-internal-template: "git@${reqour.git.git-providers.github.hostname}:"
        read-only-template: https://${reqour.git.git-providers.github.hostname}/${reqour.git.git-providers.github.internal-organization}/%s.git
        read-write-template: git@${reqour.git.git-providers.github.hostname}:${reqour.git.git-providers.github.internal-organization}/%s.git
        token: ${GITHUB_TOKEN}
      fault-tolerance:
        description: 'Fault Tolerance Policy for Git Providers'
        retry:
          max-retries: 10
          initial-delay: 5
          initial-delay-unit: seconds
          exponential-backoff:
            factor: 2
            max-delay: 20
            max-delay-unit: seconds
        timeout:
          duration: 60
          duration-unit: seconds
    internal-urls: []  # overridden in runtime config
    private-github-user: ${PRIVATE_GITHUB_USER}
  log:
    final-log:
      bifrost-uploader:
        base-url: ${BIFROST_URL}
      uploader-base-name: 'org.jboss.pnc._userlog_.alignment-log'
    user-log:
      user-logger-name: 'org.jboss.pnc._userlog_.alignment-log'
  adjuster:
    alignment:
      validate: true
      request: ${ADJUST_REQUEST}
      build-categories:
        STANDARD:
          persistent-mode: PERSISTENT
          temporary-mode: TEMPORARY
          temporary-prefer-persistent-mode: TEMPORARY_PREFER_PERSISTENT
        SERVICE:
          persistent-mode: SERVICE
          temporary-mode: SERVICE_TEMPORARY
          temporary-prefer-persistent-mode: SERVICE_TEMPORARY_PREFER_PERSISTENT
          prefix-of-suffix-version: managedsvc
    maven-executable: mvn
    mdc: ${MDC}
    log:
      final-log-file-path: &final-log-file
        /tmp/file-log.txt
  rest:
    app-environment: ${APP_ENV}
    reqour-secret-key: ${REQOUR_SECRET_NAME}
    indy-url: ${INDY_URL}
    job-definition-file-path: 'src/main/resources/job.yaml' # overridden in runtime config
    sasl-jaas-conf: ${SASL_JAAS_CONF}

quarkus:
  log:
    category:
      "org.jboss.pnc":
        level: DEBUG
      "org.jboss.pnc._userlog_":
        level: INFO
        handlers:
          - final-log-file-handler
    console:
      format: "%d{HH:mm:ss,SSS} %-5p traceId=%X{traceId}, parentId=%X{parentId}, spanId=%X{spanId}, sampled=%X{sampled} [%c{3.}] (%t) %s%e mdc:[%X]%n"
    handler:
      file:
        final-log-file-handler:
          enable: true
          path: *final-log-file
          rotation:
            max-file-size: 10G
          format: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %s%e%n'
      kafka:
        enabled: false  # enabled and fully configured in runtime config
        broker-list: kafka.example.com:443
        topic: kafka-topic
  http:
    enable-compression: true
    enable-decompression: true
  swagger-ui:
    always-include: true
  oidc:
    auth-server-url: https://keycloak-host/auth/realms/realm # overridden in runtime config
    client-id: client # overridden in runtime config
  oidc-client:
    auth-server-url: https://keycloak-host/auth/realms/realm # overridden in runtime config
    client-id: sa # overridden in runtime config
    credentials:
      secret: secret-of-sa # overridden in runtime config

mp:
  openapi:
    scan:
      exclude:
        classes:
          - org.jboss.pnc.reqour.rest.endpoints.BaseUrlEndpoint