reqour:
  git:
    git-providers:
      gitlab:
        enabled: false
        hostname: gitlab.com
        username: dev-user
        workspace: dev-workspace
        workspace-id: 1
        token: 'Change me to gitlab group token.'
        protected-tags-pattern: '*'
        protected-tags-accepted-patterns:
        url: http://${reqour.git.git-providers.gitlab.hostname}
        read-only-template: http://${reqour.git.git-providers.gitlab.hostname}/${reqour.git.git-providers.gitlab.workspace}/%s.git
      github:
        enabled: true
        hostname: github.com
        username: dev-user
        internal-organization: dev-organization
        token: 'Change me to github token.'
        protected-tags-pattern: '*'
        protected-tags-accepted-patterns:
        url: http://${reqour.git.git-providers.github.hostname}
        read-only-template: http://${reqour.git.git-providers.github.hostname}/${reqour.git.git-providers.github.internal-organization}/%s.git
    acceptable-schemes:
      - https
      - http
      - git
      - git+ssh
      - ssh
    internal-urls:
      - gitlab.com
    user:
      email: dev-user@example.com
      name: ReqourDev
  log:
    final-log:
      bifrost-uploader:
        base-url: http://bifrost.com
  adjuster:
    alignment:
      validate: false
      request: |
        {
          "callback": {
            "method": "POST",
            "uri": "https://example.com/callback"
          },
          "originRepoUrl": "git@gitlab.com:repo/project.git",
          "taskId": "task-id",
          "buildType": "MVN",
          "internalUrl": {
            "readwriteUrl": "git@gitlab.com:test-workspace/repo/project.git",
            "readonlyUrl": "https://gitlab.com/test-workspace/repo/project.git"
          }
        }
      mvn:
        cli-jar-path: '/tmp/current/pom-manipulation-cli.jar'
        default-settings-file-path: '/foo/settings.xml'
        temporary-settings-file-path: '/foo/temporary-settings.xml'
        alignment-parameters:
          - '-Dfoo=bar'
      gradle:
        gradle-analyzer-plugin-init-file-path: '/tmp/current/analyzer-init.gradle'
        cli-jar-path: '/tmp/current/gme-cli.jar'
        default-gradle-path: '/usr/share/gradle-42.42.42'
        alignment-parameters:
          - '-Dfoo=bar'
      scala:
        sbt-path: '/usr/bin/sbt'
        alignment-parameters:
          - '-Dfoo=bar'
      npm:
        cli-jar-path: '/tmp/current/project-manipulator-cli.jar'
        alignment-parameters:
          - '-Dfoo=bar'
    mdc: '{}'
  rest:
    app-environment: devel
    reqour-secret-key: devel-secret-dummy-key
    indy-url: https://dev-indy.example.com
    sasl-jaas-conf: config

quarkus:
  log:
    console:
      json: false
  oidc:
    enabled: false
  oidc-client:
    enabled: false
  otel:
    enabled: false
  security:
    auth:
      enabled-in-dev-mode: false
