quarkus:
  http:
    auth:
      # required for LDAP: build-time property
      basic: true
    enable-compression: true
    enable-decompression: true
    cors:
      enabled: true
      origins: "/.*/"
  security:
    ldap:
      # enable LDAP: build-time property
      enabled: true
      cache:
        enabled: true
        max-age: 5m
      dir-context:
        url: ldaps://ldap-server.com
      identity-mapping:
        search-base-dn: ou=company.com
  swagger-ui:
    always-include: true
  oidc:
    auth-server-url: https://keycloak-host/auth/realms/realm # overridden in runtime config
    client-id: client # overridden in runtime config
  oidc-client:
    auth-server-url: https://keycloak-host/auth/realms/realm # overridden in runtime config
    client-id: sa # overridden in runtime config
    credentials:
      secret: secret-of-sa # overridden in runtime config

mp:
  openapi:
    scan:
      exclude:
        classes:
          - org.jboss.pnc.reqour.rest.endpoints.BaseUrlEndpoint

reqour:
  rest:
    app-environment: ${APP_ENV}
    reqour-secret-key: ${REQOUR_SECRET_NAME}
    indy-url: ${INDY_URL}
    job-definition-file-path: 'src/main/resources/job.yaml' # overridden in runtime config
    sasl-jaas-conf: ${SASL_JAAS_CONF}
