quarkus:
  log:
    console:
      json: false
  oidc-client:
    enabled: false

reqour:
  core:
    git:
      git-providers:
        gitlab:
          enabled: false
          hostname: gitlab.com
          username: dev-user
          workspace: dev-workspace
          workspace-id: 1
          token: 'Change me to gitlab group token.'
          protected-tags-pattern: '*'
          protected-tags-accepted-patterns:
          url: http://${reqour.core.git.git-providers.gitlab.hostname}
          read-only-template: http://${reqour.core.git.git-providers.gitlab.hostname}/${reqour.core.git.git-providers.gitlab.workspace}/%s.git
        github:
          enabled: true
          hostname: github.com
          username: dev-user
          internal-organization: dev-organization
          token: 'Change me to github token.'
          protected-tags-pattern: '*'
          protected-tags-accepted-patterns:
          url: http://${reqour.core.git.git-providers.github.hostname}
          read-only-template: http://${reqour.core.git.git-providers.github.hostname}/${reqour.core.git.git-providers.github.internal-organization}/%s.git
      acceptable-schemes:
        - https
        - http
        - git
        - git+ssh
        - ssh
      internal-urls:
        - gitlab.com
      user:
        email: dev-user@example.com
        name: ReqourDev
    log:
      final-log:
        bifrost-uploader:
          base-url: http://bifrost.com
